body
{
	background-color:#C4C4C4;
	margin-right: auto;
	margin-left: auto;
	width: 50em;
}

#body_style, #header
{
	font-family: 'PT Serif', "Times New Roman", serif;
	color:#2D2D2D;
}

#body_style
{
	clear:both;
	background-color: #E3E3E3;
	padding-top: 1px;
	padding-bottom: 40px;
	border-radius: 10px;
}

#header
{
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	line-height: 50px;
	font-family: 'Headland One';
}

#blog-title {float: left;	}

#blog-title a {	
	text-decoration: none;
	color:#2D2D2D;
}

#blog-title a:hover {
	color: #2D2D2D;
}

#links
{
	width: 100%;
	margin: 0px auto;
	vertical-align: middle;
}

#links a
{
	font-size: 18px;
	text-decoration: none;
	color: #2D2D2D;
}

#links a:hover {color: #7A7A7A;}