body
{
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	background-image: url("/res/images/bodybg.png");
}

#body_style
{
	font-family: 'PT Serif', "Times New Roman", serif;
	color:#2D2D2D;
}

#body_style
{
	clear:both;
	background-color: white;
	padding-top: 2px;
	padding-bottom: 40px;
	width:56%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.07);
}

#header
{
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	line-height: 50px;
	font-family: 'Arimo', sans-serif;
	background-image: url("/res/images/headerbg.png");
	height:5em;
}

#blog-title {
	float: left;
	margin-left: 8em;
	margin-top: 1em;
}

#blog-title a {
	text-decoration: none;
	color:white;
}

#links
{
	margin-right: 8em;
	margin-top:4em;
	vertical-align: middle;
}

#links a
{
	font-size: 18px;
	text-decoration: none;
	color: white;
}

#links a:hover {color: #7A7A7A;}