body
{
	background-color:#C4C4C4;
	margin-right: auto;
	margin-left: auto;
	width: 50em;
}

#body_style, #header
{
	font-family: "Times New Roman", serif;
	color:#525252;
}

#body_style
{
	clear:both;
	background-color: #E3E3E3;
	padding-top: 1px;
	padding-bottom: 40px;
	border-radius: 10px;
}

#header
{
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	line-height: 50px;
}

#blog-title {float: left;}

#blog-title a {	
	text-decoration: none;
	color:#525252;
}

#blog-title a:hover {
	color: #525252;
}

#links
{
	width: 100%;
	margin: 0px auto;
	vertical-align: middle;
}

#links a
{
	font-size: 16px;
	text-decoration: none;
	color: #525252;
}

#links a:hover {color: #7A7A7A;}

#body-text
{
	margin: 20px;
	font-size: 18px;
	text-decoration: none;
}

#body-text a{text-decoration: none; color: #787878;}

#body-text a:hover {color: #7A7A7A;}

#body-text h1{font-size:26px; font-weight: normal;}