#post_list
{
	margin: 20px;
	font-size: 22px;
	text-decoration: none;
}

#post_list a{text-decoration: none; color: #787878;}

#post_list a:hover {color: #7A7A7A;}

#post_list h1{font-size:26px; font-weight: bold;}

#post_tags
{
	font-size: 12px;
}