<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/default.css">
		<script type="text/javascript" charset="utf-8" src="/scripts/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="/scripts/javascript.js"></script>
	</head>
	<body>
		<!-- Header element -->
		<div id="header">
			<div id="blog-title">
				<a href="/">Jerry Sun</a>
			</div>
			<div id="links">
				<a href="/">Blog</a>
				<a href="/about.html">About</a>
				<a href="/resume.html">Resume</a>
			</div>
		</div>
		
		<!-- Body stuff -->
		<div id="body_style">
			<div id="body-text">
				{{content}}
			</div>
		</div>
	</body>
</html>