<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Droid+Sans' rel='stylesheet' type='text/css'>

		<title>{{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/default.css">
		<script type="text/javascript" charset="utf-8" src="/scripts/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="/scripts/javascript.js"></script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34628045-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
    	<meta name="description" content="Jerry Sun, personal blog">
	</head>
	<body>
		<!-- Header element -->
		<div id="header-bg">
		<div id="header-text">
			<div id="blog-title">
				<a href="/">Jerry Sun</a>
			</div>
			<div id="links">
				<a href="/">Blog</a>
				<a href="/about.html">About</a>
				<a href="/resume.html">Resume</a>
			</div>
		</div>
	</div>

		<!-- Body stuff -->
		<div id="body_style">
			<div id="body-text">
				{{content}}
			</div>
		</div>
	</body>
</html>